<div class="container-fluid fluid-nav">
  <div class="container cnt-tnar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light tjnav-bar">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <a href="#" class="nav-logo">
        <img src="assets/img/techjobs_bgb.png">
      </a>
      <button class="navbar-toggler tnavbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars icn-res" aria-hidden="true"></i>

      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto tnav-left tn-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Việc Làm IT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tin Tức</a>
          </li>
        </ul>

          <ul class="navbar-nav mr-auto my-2 my-lg-0 tnav-right tn-nav"*ngIf="condition; else elseBlock">
            <li class="nav-item active">
              <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i> <span class="hidden-text">Tìm kiếm</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="register">Đăng Ký</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="login">Đăng Nhập</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                VI
              </a>
              <div class="dropdown-menu tdropdown" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">English</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-employers" routerLink="login-employer" tabindex="-1" aria-disabled="true">Nhà Tuyển Dụng</a>
            </li>
          </ul>
        <ng-template #elseBlock>
          <ul class="navbar-nav mr-auto my-2 my-lg-0 tnav-right tn-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbar-Dropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Xin chào {{userLogin.name||userLogin.name_employer}} !
              </a>
              <div class="dropdown-menu tdropdown" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/published-recruitment/list-post">Quản lý đăng tuyển</a>
                <a class="dropdown-item" routerLink="/published-recruitment/edit-employer/{{userLogin.id}}">Chỉnh sửa thông tin</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
              </div>
            </li>
          </ul>
        </ng-template>
      </div>
    </nav>
  </div>
</div>
