<!-- main nav -->
<div class="container-fluid fluid-nav another-page">
<app-nav></app-nav>
</div>
<!-- (end) main nav -->

<div class="clearfix"></div>

<!-- recuiter Nav -->
<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light nav-recuitment">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNava" aria-controls="navbarNava" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNava">
      <ul class="navbar-nav nav-recuitment-li">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/published-recruitment/list-post">Quản lý đăng tuyển</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/published-recruitment/apply-now">Quản lý ứng tuyển</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/published-recruitment">Quản lý đăng tin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="edit-employer/{{employer.id}}">Sửa hồ sơ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Tài khoản</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!--  recuiter Nav -->

<!-- widget recuitment  -->
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="home-ads">
          <a href="#">
            <img src="assets/img/hna2.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- (end) widget recuitment  -->
<!-- published recuitment -->
<div class="container-fluid published-recuitment-wrapper">
  <div class="container published-recuitment-content">
    <div class="row">
      <div class="col-md-8 col-sm-12 col-12 recuitment-inner">
<router-outlet></router-outlet>
      </div>
      <!-- Side bar -->
      <div class="col-md-4 col-sm-12 col-12">
        <div class="recuiter-info">
          <div class="recuiter-info-avt">
            <img src="{{employer.logo}}">
          </div>
          <div class="clearfix list-rec">
            <h4>{{employer.name_employer}}</h4>
            <ul>
              <li><a href="#">Việc làm đang đăng: <strong>{{posts}}</strong></a></li>
            </ul>
          </div>
        </div>


        <div class="block-sidebar" style="margin-bottom: 20px;">
          <header>
            <h3 class="title-sidebar font-roboto bg-primary">
              Trung tâm quản lý
            </h3>
          </header>
          <div class="content-sidebar menu-trung-tam-ql menu-ql-employer">
            <h3 class="menu-ql-ntv">
              Quản lý tài khoản
            </h3>
            <ul>
              <li>
                <a routerLink="edit-employer/{{employer.id}}">
                  Cập nhật thông tin
                </a>
              </li>
            </ul>
            <h3 class="menu-ql-ntv">
              Quản lý tin tuyển dụng
            </h3>
            <ul>
              <li>
                <a routerLink="/published-recruitment">
                  Đăng tin tuyển dụng
                </a>
              </li>
              <li>
                <a routerLink="/published-recruitment/list-post">
                  Danh sách tin tuyển dụng
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- (end) published recuitment -->

<div class="clearfix"></div>





<!-- job support -->
<div class="container-fluid job-support-wrapper">
  <div class="container-fluid job-support-wrap">
    <div class="container job-support">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-12">
          <ul class="spp-list">
            <li>
              <span><i class="fa fa-question-circle pr-2 icsp"></i>Hỗ trợ nhà tuyển dụng:</span>
            </li>
            <li>
              <span><i class="fa fa-phone pr-2 icsp"></i>0123.456.789</span>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
          <div class="newsletter">
            <span class="txt6">Đăng ký nhận bản tin việc làm</span>
            <div class="input-group frm1">
              <input type="text" placeholder="Nhập email của bạn" class="newsletter-email form-control">
              <a href="#" class="input-group-addon"><i class="fa fa-lg fa-envelope-o colorb"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- (end) job support -->


<!-- foot -->
<app-foot></app-foot>
<!-- (end) foot -->
