<form class="recuitment-form" *ngIf="formEditpost" [formGroup]="formEditpost" (ngSubmit)="submit(post.id)">

  <div class="accordion" id="accordionExample">
    <div class="card recuitment-card">
      <div class="card-header recuitment-card-header" id="headingOne">
        <h2 class="mb-0">
          <a class="btn btn-link btn-block text-left recuitment-header" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Đăng tin tuyển dụng
            <span id="clickc1_advance2" class="clicksd">
                      <i class="fa fa fa-angle-up"></i>
                    </span>
          </a>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body recuitment-body">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right label">Tiêu đề<span style="color: red" class="pl-2">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" placeholder="Nhập tiêu đề" formControlName="title">
              <div *ngIf="formEditpost.get('title')?.invalid && formEditpost.get('title')?.touched"
                   class="alert alert-danger">
                Bắt buộc *
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right label">Chuyên ngành<span style="color: red" class="pl-2">*</span></label>
            <div class="col-sm-9">
              <select type="text" class="form-control"  formControlName="majors">
                <option value="Hành Chính Nhân Sự">Hành Chính Nhân Sự</option>
                <option value="Lập Trình Viên">Lập Trình Viên</option>
                <option value="Nhân Viên Kinh Doanh">Nhân Viên Kinh Doanh</option>
                <option value="Tư Vấn Viên">Tư Vấn Viên</option>
                <option value="Khác">Khác</option>
              </select>
              <div *ngIf="formEditpost.get('majors')?.invalid && formEditpost.get('majors')?.touched"
                   class="alert alert-danger">
                Bắt buộc *
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right label">Số lượng cần tuyển<span style="color: red" class="pl-2">*</span></label>
            <div class="col-sm-9">
              <input type="number" class="form-control" placeholder="1" formControlName="quantity">
              <div *ngIf="formEditpost.get('quantity')?.invalid && formEditpost.get('quantity')?.touched"
                   class="alert alert-danger">
                Bắt buộc *
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right label">Giới tính<span style="color: red" class="pl-2">*</span></label>
            <div class="col-sm-9">
              <select type="text" class="form-control" id="jobGender" formControlName="gender">
                <option value="Không yêu cầu">Chọn giới tính</option>
                <option value="Không yêu cầu">Không yêu cầu</option>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
              </select>
              <div *ngIf="formEditpost.get('gender')?.invalid && formEditpost.get('gender')?.touched"
                   class="alert alert-danger">
                Bắt buộc *
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right label">Mô tả công việc<span style="color: red" class="pl-2">*</span></label>
            <div class="col-sm-9">
              <textarea type="text" class="form-control" placeholder="Nhập mô tả công việc" rows="5" formControlName="description"></textarea>
              <div *ngIf="formEditpost.get('description')?.invalid && formEditpost.get('description')?.touched"
                   class="alert alert-danger">
                Bắt buộc *
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right label">Yêu cầu công việc</label>
            <div class="col-sm-9">
              <textarea type="text" class="form-control" placeholder="Nhập yêu cầu công việc" rows="5"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right label">Vị Trí Tuyển Dụng</label>
            <div class="col-sm-9">
              <select type="text" class="form-control" id="natureWork" formControlName="position">
                <option selected="selected" value="">Chọn Vị trí Tuyển Dụng</option>
                <option value="Nhân viên">Nhân viên</option>
                <option value="Trưởng Nhóm">Trưởng Nhóm</option>
                <option value="Trưởng Phòng">Trưởng Phòng</option>
                <option value="Giám đốc">Giám đốc</option>
                <option value="Khác">Khác</option>
              </select>
              <div *ngIf="formEditpost.get('position')?.invalid && formEditpost.get('position')?.touched"
                   class="alert alert-danger">
                Bắt buộc *
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right label">Kinh nghiệm<span style="color: red" class="pl-2">*</span></label>
            <div class="col-sm-9">
              <select type="text" class="form-control" id="jobExperience" formControlName="experience">
                <option selected="selected" value="Chưa có kinh nghiệm">Chọn kinh nghiệm</option>
                <option value="Chưa có kinh nghiệm">Chưa có kinh nghiệm</option>
                <option value="Dưới 1 năm">Dưới 1 năm</option>
                <option value="1 năm">1 năm</option>
                <option value="2 năm">2 năm</option>
                <option value="3 năm">3 năm</option>
                <option value="4 năm">4 năm</option>
                <option value="5 năm">5 năm</option>
                <option value="Trên 5 năm">Trên 5 năm</option>
                <option value="Không yêu cầu kinh nghiệm">Không yêu cầu kinh nghiệm</option>
              </select>
              <div *ngIf="formEditpost.get('experience')?.invalid && formEditpost.get('experience')?.touched"
                   class="alert alert-danger">
                Bắt buộc *
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right label">Mức lương<span style="color: red" class="pl-2">*</span></label>
            <div class="col-sm-9">
              <select type="text" class="form-control" id="jobSalary" formControlName="salary">
                <option selected="selected" value="Dưới 3 triệu">Chọn mức lương</option>
                <option value="Dưới 3 triệu">Dưới 3 triệu</option>
                <option value="3-5 triệu">3-5 triệu</option>
                <option value="5-7 triệu">5-7 triệu</option>
                <option value="7-10 triệu">7-10 triệu</option>
                <option value="10-12 triệu">10-12 triệu</option>
                <option value="12-15 triệu">12-15 triệu</option>
                <option value="15-20 triệu">15-20 triệu</option>
                <option value="20-25 triệu">20-25 triệu</option>
                <option value="25-30 triệu">25-30 triệu</option>
                <option value="30-40 triệu">30-40 triệu</option>
                <option value="40-50 triệu">40-50 triệu</option>
                <option value="Trên 50 triệu">Trên 50 triệu</option>
              </select>
              <div *ngIf="formEditpost.get('salary')?.invalid && formEditpost.get('salary')?.touched"
                   class="alert alert-danger">
                Bắt buộc *
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right label">Hình thức làm việc<span style="color: red" class="pl-2">*</span></label>
            <div class="col-sm-9">
              <select type="text" class="form-control" id="jobWorkTime" formControlName="job_type_id">
                <option selected="selected" value="Nhân viên chính thức">Chọn hình thức làm việc</option>
                <option value="2">Nhân viên chính thức</option>
                <option value="3">Nhân viên thời vụ</option>
                <option value="4">Bán thời gian</option>
                <option value="5">Làm thêm ngoài giờ</option>
                <option value="6">Thực tập và dự án</option>
              </select>
              <div *ngIf="formEditpost.get('job_type_id')?.invalid && formEditpost.get('job_type_id')?.touched"
                   class="alert alert-danger">
                Bắt buộc *
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right label">Nơi làm việc</label>
            <div class="col-sm-9">
              <select type="text" class="form-control" id="jobProvince" formControlName="city_id">
                <option value="1">Hồ Chí Minh</option>
                <option value="2">Hà Nội</option>
                <option value="3">An Giang</option>
                <option value="4">Bạc Liêu</option>
                <option value="5">Bà Rịa-Vũng Tàu</option>
                <option value="6">Bắc Cạn</option>
                <option value="7">Bắc Giang</option>
                <option value="8">Bắc Ninh</option>
                <option value="9">Bến Tre</option>
                <option value="10">Bình Dương</option>
                <option value="11">Bình Định</option>
                <option value="12">Bình Phước</option>
                <option value="13">Bình Thuận</option>
                <option value="14">Cao Bằng</option>
                <option value="15">Cà Mau</option>
                <option value="16">Cần Thơ</option>
                <option value="17">Đà Nẵng</option>
                <option value="18">Đắk Lắk</option>
                <option value="19">Đắk Nông</option>
                <option value="20">Điện Biên</option>
                <option value="21">Đồng Nai</option>
                <option value="22">Đồng Tháp</option>
                <option value="23">Gia Lai</option>
                <option value="24">Hà Giang</option>
                <option value="25">Hà Nam</option>
                <option value="27">Hà Tĩnh</option>
                <option value="28">Hải Dương</option>
                <option value="29">Hải Phòng</option>
                <option value="30">Hậu Giang</option>
                <option value="31">Hòa Bình</option>
                <option value="32">Hưng Yên</option>
                <option value="33">Khánh Hòa</option>
                <option value="34">Kiên Giang</option>
                <option value="35">Kon Tum</option>
                <option value="36">Lai Châu</option>
                <option value="37">Lạng Sơn</option>
                <option value="38">Lào Cai</option>
                <option value="39">Lâm Đồng</option>
                <option value="40">Long An</option>
                <option value="41">Nam Định</option>
                <option value="42">Nghệ An</option>
                <option value="43">Ninh Bình</option>
                <option value="44">Ninh Thuận</option>
                <option value="45">Phú Thọ</option>
                <option value="46">Phú Yên</option>
                <option value="47">Quảng Bình</option>
                <option value="48">Quảng Nam</option>
                <option value="49">Quảng Ngãi</option>
                <option value="50">Quảng Ninh</option>
                <option value="51">Quảng Trị</option>
                <option value="52">Sóc Trăng</option>
                <option value="53">Sơn La</option>
                <option value="54">Tây Ninh</option>
                <option value="55">Thái Bình</option>
                <option value="56">Thái Nguyên</option>
                <option value="57">Thanh Hóa</option>
                <option value="58">Thừa Thiên-Huế</option>
                <option value="59">Tiền Giang</option>
                <option value="60">Trà Vinh</option>
                <option value="61">Tuyên Quang</option>
                <option value="62">Vĩnh Long</option>
                <option value="63">Vĩnh Phúc</option>
                <option value="64">Yên Bái</option>
                <option value="65">Toàn quốc</option>
                <option value="66">Nước ngoài</option>
              </select>
              <div *ngIf="formEditpost.get('city_id')?.invalid && formEditpost.get('city_id')?.touched"
                   class="alert alert-danger">
                Bắt buộc *
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right label">Hạn nộp hồ sơ<span style="color: red" class="pl-2">*</span></label>
            <div class="col-sm-9">
              <input type="date" class="form-control" placeholder="Nhập nơi làm việc" formControlName="expiration_date">
              <div *ngIf="formEditpost.get('expiration_date')?.invalid && formEditpost.get('expiration_date')?.touched"
                   class="alert alert-danger">
                Bắt buộc *
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right label">Trạng thái:</label>
            <div class="col-sm-9">
              <select type="text" class="form-control" id="" formControlName="status">
                <option value="1">Công khai</option>
                <option value="2">Chỉ mình tôi</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rec-submit">
    <button type="submit" class="btn-submit-recuitment" name="" [disabled]="!formEditpost.valid">
      <i class="fa fa-floppy-o pr-2"></i>Lưu Tin
    </button>
  </div>
</form>

