
<p style="margin: 20px">Khách hàng đã đăng ký &nbsp;: &nbsp;<strong style="color: #2f55d4">{{count }}</strong></p>
<h1 style="text-align: center; margin: 30px; color: #2f55d4 ">Danh sách khách hàng</h1>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Stt</th>
    <th scope="col">Tên khách hàng</th>
    <th scope="col">Email</th>
    <th scope="col">Số điện thoại</th>
    <th scope="col" colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers;index as i">
    <th scope="row">{{i + 1}}</th>
    <td><a routerLink="{{customer.id}}/detail">{{customer.name}}</a></td>
    <td>{{customer.email}}</td>
    <td>{{customer.phone}}</td>
    <td>
      <button class="btn btn-danger" (click)="deleteCustomer(customer.id)">Delete</button>
    </td>

    <td>
      <button class="btn btn-warning" routerLink="/admin/{{customer.id}}/edit-customer">Edit</button>
    </td>
  </tr>
  </tbody>
</table>
