<!-- main nav -->
<app-nav></app-nav>
<!-- (end) main nav -->

<div class="clearfix"></div>

<!-- main banner -->
<app-banner></app-banner>
<!-- (end) main banner -->

<!-- search section -->
<app-search></app-search>
<!-- (end) search section -->

<!-- job board & sidebar section  -->
<div class="container-fluid jb-wrapper">
  <div class="container">
    <div class="row">
      <!-- job board -->
      <div class="col-md-8 col-sm-12 col-12">
        <div class="job-board-wrap">
          <h2 class="widget-title">
            <span>Tuyển gấp</span>
          </h2>
          <div class="job-group" *ngFor="let post of posts | paginate: { itemsPerPage: 2, currentPage: p },let i = index">
            <div *ngIf="post.status==1??null">
              <div class="job pagi">
                <div class="job-content">
                  <div class="job-logo">
                    <a routerLink="/detail/{{post.id}}">
                      <img src="{{post.employer.logo}}" class="job-logo-ima" alt="job-logo">
                    </a>
                  </div>

                  <div class="job-desc">
                    <div class="job-title">
                      <a routerLink="/detail/{{post.id}}">{{post.title}}</a>
                    </div>
                    <div class="job-company">
                      <a routerLink="/detail-employer/{{post.employer.id}}">{{post.employer.name_employer}}</a> | <a href="#" class="job-address"><i class="fa fa-map-marker"
                                                                                                                                                     aria-hidden="true"></i>
                      {{post.city.name}}</a>
                    </div>

                    <div class="job-inf">
                      <div class="job-main-skill">
                        <i class="fa fa-code" aria-hidden="true"></i> <a href="#"> Java</a>
                      </div>
                      <div class="job-salary"*ngIf="userLogin; else elseBlock">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <span > {{post.salary}}</span>
                      </div>
                      <ng-template #elseBlock>
                        <div class="job-salary">
                          <a routerLink="login" class="btn-outline-warning"> Xem lương</a>
                        </div>
                      </ng-template>
                      <div class="job-deadline">
                        <span><i class="fa fa-clock-o" aria-hidden="true"></i>  Hạn nộp: <strong>{{post.expiration_date}}</strong></span>
                      </div>
                    </div>
                  </div>
                  <div class="wrap-btn-appl">
                    <ng-container *ngIf="userLogin; else elseApply">
                      <form *ngIf="formApplyNow" [formGroup]="formApplyNow" (ngSubmit)="submitFormApplyNow(i)">
                        <button type="submit" class="btn btn-success">Ứng tuyển ngay</button>
                      </form>
                    </ng-container>
                    <ng-template #elseApply>
                      <a routerLink="/login" class="btn btn-success">Ứng tuyển ngay</a>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls (pageChange)="p = $event" style="padding: 100px"></pagination-controls>

      </div>

      <!-- (end) job board -->
      <!-- sidebar -->
      <div class="col-md-4 col-sm-12 col-12 clear-left">
        <div class="job-sidebar">
          <h2 class="widget-title">
            <span>Ngành Nghề</span>
          </h2>
          <div class="catelog-list">
            <ul>
              <li>
                <a href="#">
                <span class="cate-img">
                  <em (click)="searchMajors(this.majors1)">Lập trình viên</em>
                </span>
                  <span class="cate-count">(1100)</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="cate-img">
                  <em (click)="searchMajors(this.majors2)">Tư Vấn Viên</em>
                </span>
                  <span class="cate-count">(230)</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="cate-img">
                  <em (click)="searchMajors(this.majors3)">Nhân Viên Kinh Doanh</em>
                </span>
                  <span class="cate-count">(110)</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="cate-img">
                  <em (click)="searchMajors(this.majors4)">Hành Chính Nhân Sự</em>
                </span>
                  <span class="cate-count">(2300)</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="cate-img">
                  <em>Khác</em>
                </span>
                  <span class="cate-count">(99)</span>
                </a>
              </li>
              <li>
                <a href="#" class="readallstyle reads1">Xem tất cả</a>
              </li>

            </ul>
          </div>
        </div>

        <div class="job-sidebar">
          <div class="sb-banner">
            <img src="assets/img/ads1.jpg" class="advertisement">
          </div>
        </div>
      </div>
      <!-- (end) sidebar -->
    </div>
  </div>
</div>
<!-- (end) job board & sidebar section  -->



<div class="clearfix"></div>



<!-- job board v2 -->
<div class="container-fluid">
  <div class="container job-board2">
    <div class="row">
      <div class="col-md-12 job-board2-wrap-header">
        <h3>Tin tuyển dụng, việc làm mới nhất</h3>
      </div>
      <div class="col-md-12 job-board2-wrap">
        <div class="owl-carousel owl-theme job-board2-contain">
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/fpt-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>[HCM] 02 Solution Architects–Up to $2000 #1</h3>
                <a class="company" href="#">FPT Software</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/alipay-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>Fullstack .NET Developer (Angular/React) #2</h3>
                <a class="company" href="#">Orient Software</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/nvg-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>Frontend Developer (JavaScript, ReactJS)</h3>
                <a class="company" href="#">mgm technology</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/luxoft-vietnam-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>IVI System Test Engineer</h3>
                <a class="company" href="#">LUXOFT Software</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/fpt-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                <a class="company" href="#">FPT Software</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/fpt-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                <a class="company" href="#">FPT Software</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/fpt-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                <a class="company" href="#">FPT Software</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/fpt-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                <a class="company" href="#">FPT Software</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/fpt-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                <a class="company" href="#">FPT Software</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/fpt-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                <a class="company" href="#">FPT Software</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/fpt-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                <a class="company" href="#">FPT Software</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/fpt-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                <a class="company" href="#">FPT Software</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/fpt-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                <a class="company" href="#">FPT Software</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/fpt-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                <a class="company" href="#">FPT Software</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/fpt-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                <a class="company" href="#">FPT Software</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
          <div class="item job-latest-item">
            <a href="#" class="job-latest-group">
              <div class="job-lt-logo">
                <img src="assets/img/fpt-logo.png">
              </div>
              <div class="job-lt-info">
                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                <a class="company" href="#">FPT Software</a>
                <p class="address" ><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    var owl = $('.owl-carousel');
    owl.owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      autoplay: true,
      autoplayTimeout: 3000,
      autoplayHoverPause: true,
      responsiveClass:true,
      responsive:{
        0:{
          items:2,
          nav:true,
          slideBy: 2,
          dots: false
        },
        600:{
          items:4,
          nav:false,
          slideBy: 2,
          dots: false
        },
        1000:{
          items: 6,
          nav:true,
          loop:false,
          slideBy: 2
        }
      }
    });
  })
</script>
<!-- (end) job board v2 -->

<div class="clearfix"></div>

<!-- top employer -->
<div class="container-fluid">
  <div class="container top-employer">
    <div class="row">
      <div class="col-md-12 top-employer-contain">
        <div class="header">
          <h3>Nhà tuyển dùng hàng đầu</h3>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-12 top-employer-wrap" *ngFor="let post of top_employer,let i = index">
            <div class="top-employer-item">
              <a routerLink="/detail-employer/{{post.id}}">
                <div class="emp-img-thumb">
                  <img src="{{post.logo}}">
                </div>
                <h3 class="company">{{post.name_employer}}</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- (end) top employer -->

<div class="clearfix"></div>





<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="home-ads">
          <a href="#">
            <img src="assets/img/hna2.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<app-foot></app-foot>

<!-- (end) foot -->
